<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="dashboard">
<% include ../includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="col span-12 box">
				<h1>Welkom, <%= user.firstname %></h1>
				<p class="align-center">
					<a href="/host" class="game-btn btn confirm"><i class="fa fa-laptop"></i> Nieuw spel starten</a>
					<a href="/play/1" class="game-btn btn confirm" id="join"><i class="fa fa-mobile"></i> Aan spel deelnemen</a>
				</p>
			</div>
		</div>

		<div class="row box">
			<div class="col span-8">
				<h1>Mijn gegevens</h1>
			
				<div class="form-group">
					<div class="label">E-mail adres:</div>
					<div class="field"><%= user.email %></div>
				</div>

				<div class="form-group">
					<div class="label">Voornaam:</div>
					<div class="field"><%= user.firstname %></div>
				</div>

				<div class="form-group">
					<div class="label">Achternaam:</div>
					<div class="field"><%= user.lastname %></div>
				</div>

				<div class="form-group">
					<div class="label">Ik ben een:</div>
					<div class="field"><%= user.gender == 'm' ? 'Man' : 'Vrouw' %></div>
				</div>
			</div>
			<div class="col span-4 align-center">
				<form action="/avatar" method="post" enctype="multipart/form-data" id="upload-form">
					<label class="file-input">
					<div>
						<div class="avatar">
							<img src="/avatar/<%= user._id %>.png">
						</div>
					</div>
						<input type="file" name="image" id="upload-select">
						<i class="fa fa-picture-o"></i> Wijzig afbeelding
					</label>
				</form>
			</div>
			
		</div>
	</div>
</div>

<script type="text/template" id="join-tpl">
	<div class="modal-overlay" on-click="closeModal" intro-outro="fade:{ duration: 300 }">
		<!-- <div class="modal-close" on-click="closeModal"></div> -->
		<div class="modal" style="max-width: 400px" on-click="stopPropagation" intro-outro="fly:{ x: 0, y: -200, duration: 400 }">
			<h1>Voer de spelcode in:</h1>
			<form on-submit="send">
				<div class="form-group">
					<input type="number" value="{{code}}" id="code" class="text" autofocus>
				</div>
				<div class="form-group">
					<button class="btn confirm"><i class="fa fa-sign-in"></i> Deelnemen</button>
				</div>
			</form>
		</div>
	</div>
</script>

<% include ../includes/bottom %>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>