<!DOCTYPE html>
<html lang="nl">
<head>
	<% include ../includes/head %>
</head>
<body class="profile">
<% include ../includes/top %>
<div class="content-wrapper">
	<div class="content container">
		<div class="row">
			<div class="box col span-8">
				<h1>Mijn gegevens</h1>
				<form action="/profile" method="post">
					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">E-mail adres:</div>
						<div class="col span-8"><%= email %></div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">Voornaam:</div>
						<div class="col span-8"><%= firstname %></div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">Achternaam:</div>
						<div class="col span-8"><%= lastname %></div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">Ik ben een:</div>
						<div class="col span-8"><%= gender == 'm' ? 'Man' : 'Vrouw' %></div>
					</div>
				</form>
			</div>

			<div class="box col span-4">
				<h1>Profiel foto</h1>
				<form action="/avatar" method="post" enctype="multipart/form-data" id="upload-form">
					<input type="file" name="image" id="upload-select" style="display:none">
				</form>
				<p style="margin-bottom: 8px;"><img src="/avatar/<%= user._id %>.png"></p>
				<p class="align-center"><a href="#" id="upload-link">Selecteer afbeelding</a></p>
			</div>
		</div>

		<!-- <div class="row">
			<div class="box col span-8">
				<h1>Wijzig wachtwoord</h1>
				<form action="/update-password">
					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">
							<label for="current_password">Huidig wachtwoord:</label>
						</div>
						<div class="col span-8">
							<input type="password" name="current_password" value="" class="text" id="current_password">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">
							<label for="new_password">Nieuw wachtwoord:</label>
						</div>
						<div class="col span-8">
							<input type="password" name="new_password" value="" class="text" id="new_password">
							<i class="required"></i>
						</div>
					</div>

					<div class="row" style="margin-bottom: 20px">
						<div class="col span-4">
							<label for="new_password2">Herhaal wachtwoord:</label>
						</div>
						<div class="col span-8">
							<input type="password" name="new_password2" value="" class="text" id="new_password2">
							<i class="required"></i>
						</div>
					</div>
				</form>
			</div>
		</div> -->
	</div>
</div>
<% include ../includes/bottom %>
<script type="text/javascript">
	$('#upload-link').on('click', function(evt) {
		$('#upload-select').click();
		evt.preventDefault();
	});
	$('#upload-select').on('change', function() {
		var image = $('#upload-select').val();
		$('#upload-form').submit();
		console.log(image);
	});
</script>
</body>
</html>