<!DOCTYPE html>
<html lang="nl">
<head>
	<% include includes/head %>
</head>
<body>
	<div class="header-wrapper">
		<div class="container">
			<a href="/" class="logo">
				<svg height="100%" viewBox="0 0 423.22 264">
					<path class="logo-fill" style="fill-opacity:1" d="M 423.2188,0 284.8126,0.3124 321.5,28 275.5626,60.5312 C 246.8967,32.6949 201.378,15.625 153.125,15.625 72.238,15.625 0,63.3328 0,128.59367 c 0,23.14674 9.4355,45.86484 26.125,63.50004 0.7049,20.6655 -13.049,50.3134 -25.4374,71.9063 33.2028,-5.3073 80.4045,-17.028 101.8124,-28.625 117.2775,25.2383 202.8955,-37.81 203.75,-105.75004 L 365.625,87.5624 381.4688,131.96867 423.2188,0 z M 401.3126,16.75 378,90.4062 368.6563,64.1874 226.2813,161.53121 a 20.002,20.002 0 0 1 -20.4063,1.2812 L 151.9376,135.21867 90.3438,183.03121 A 20.002,20.002 0 1 1 65.8126,151.43741 L 137.4688,95.8124 a 20.002,20.002 0 0 1 21.375,-2 l 54.6875,28 130.9063,-89.5 -20.375,-15.375 77.25,-0.1874 z" />
				</svg>
			</a>
			<ul class="menu">
				<li><a href="/login"><i class="fa fa-sign-in"></i> Inloggen</a></li>
			</ul>
		</div>
	</div>
	<div class="site-wrapper">
		<div class="content-wrapper">
			<div class="box page-form" id="content" style="width: 640px;">
			<h2>Registreren</h2>

			<% if (message) { %>
				<div class="flash-<%= message.type %>"><%- message.message %></div>
			<% } %>

			<form action="/register" method="post" id="register-form" on-submit="validate">
				<div class="row" style="margin-bottom: 15px">
					<div class="col span-4">
						<label for="email">E-mail adres</label>
					</div>
					<div class="col span-8">
						<input type="text" name="email" value="<%=input.email%>" class="text" id="email">
						<i class="required"></i>
					</div>
				</div>

				<div class="row" style="margin-bottom: 15px">
					<div class="col span-4">
						<label for="firstname">Voornaam</label><br>
					</div>
					<div class="col span-8">
						<input type="text" name="firstname" value="<%=input.firstname%>" class="text" id="firstname">
						<i class="required"></i>
					</div>
				</div>

				<div class="row" style="margin-bottom: 15px">
					<div class="col span-4">
						<label for="lastname">Achternaam</label><br>
					</div>
					<div class="col span-8">
						<input type="text" name="lastname" value="<%=input.lastname%>" class="text" id="lastname">
						<i class="required"></i>
					</div>
				</div>

				<div class="row" style="margin-bottom: 15px">
					<div class="col span-4">
						<label>Ik ben een</label>
					</div>
					<div class="col span-8">
						<label><input type="radio" name="gender" value="m" class="radio" <%= input.gender == 'm' ? 'checked' : '' %>> Man</label>
						<label><input type="radio" name="gender" value="f" class="radio" <%= input.gender == 'f' ? 'checked' : '' %>> Vrouw	</label>
						<i class="required"></i>
					</div>
				</div>

				<div class="row" style="margin-bottom: 15px">
					<div class="col span-4">
						<label for="password">Wachtwoord</label>
					</div>
					<div class="col span-8">
						<input type="password" name="password" value="" class="text" id="password">
						<i class="required"></i>
					</div>
				</div>

				<div class="row" style="margin-bottom: 20px">
					<div class="col span-4">
						<label for="password_repeat">Herhaal wachtwoord</label>
					</div>
					<div class="col span-8">
						<input type="password" name="password_repeat" value="" class="text" id="password_repeat">
						<i class="required"></i>
					</div>
				</div>

				<div class="row">
					<div class="col span-12">
						<button class="btn confirm"><i class="fa fa-user"></i> Registreren</button>
					</div>
				</div>
			</form>
			</div>
		</div>
		<div class="footer-wrapper">
			<% include includes/footer %>
		</div>
	</div>
	<% include includes/scripts %>
</body>
</html>